.exclusive-block {
 .image-container {
   margin-bottom: 50px;
 }
  @include medium {
    display: flex;
  }
}
.exclusive-attach {
  @include medium {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 20px;
    gap: 15px;
  }
  .card-main--hero-finance:hover .article-title a {
    color: clr(text-inverse);
  }
  h4 {
    font-size: 18px;
    @include medium {
      max-width: 330px;
    }
  }
  .image {
    max-width: 700px;
    max-height: 360px;
    @include medium {
      max-height: 180px;
      max-width: 330px;
    }
  }
  .category a {
    font-size: 13px;
    color: clr(text);
    &:hover {
      color: clr(text-inverse);
    }
  }
}
.exclusive-content-block {
  .author-alt {
    display: none;
  }
  margin-top: 40px;
  .h2 {
    background-color: clr(text-inverse);
    color: clr(background);
    font-size: 20px;
    font-family: $font-heading;
    font-style: italic;
    padding-top: 6px;
    padding-right: 14px;
    padding-bottom: 8px;
    padding-left: 12px;
    max-width: 250px;
    text-align: left;
    position: absolute;
    top: -10px;
    left: 35px;
    z-index: 10;
  }
}
.discover-more-small {
  display: flex;
  justify-content: center;
  margin: 70px 0;
}
