.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;
  }

  &__primary {
    @include medium {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: $space 0;
    }
  }

  &__branding {
    max-width: 190px;
    padding: 1rem 0;

    @include medium {
      margin-right: $space;
      max-width: 300px;
      padding: 0;
    }
  }
}
.weather-info {
  font-size: 14px;
  display: flex;
  position: absolute;
  top: 5px;
  right: 0;
  i {
    margin-right: 5px;
  }
  .weather-item {
    margin-left: -40px;
    display: flex;
    align-items: center;
    width: 100px;
  }
}
