.text-with-media__inner {
  display: flex;
  flex-flow: row nowrap;
  gap: $space-one-half;

  [data-image-position='left'] & {
    flex-direction: row-reverse;
  }
}

.title-container {
  position: relative;
}

.image-container {
  position: relative;
}
.image {
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.overlay {
  .post-title {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    pointer-events: none;
    @include medium {
      font-size: 24px;
    }
    @include large {
      font-size: 28px;
    }
    @include xl {
      font-size: 30px;
    }
    @include medium {
      line-height: 1.5;
    }
  }
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 0;
  overflow: hidden;
  a {
    text-decoration: none;
    font-size: 16px;
    color: clr(background);
    margin-bottom: 0;
    line-height: 1;
    font-weight: 600;
    @include medium {
      font-size: 14px;
    }
    @include large {
      font-size: 15px;
    }
    @include xl {
      font-size: 16px;
    }
    &:hover {
      color: clr(border);
    }
  }
}

.category-title {
  font-size: 16px;
  color: clr(background);
  margin-bottom: 0;
  line-height: 1;
  font-weight: 600;
  @include medium {
    font-size: 13px;
  }
  @include large {
    font-size: 15px;
  }
  @include xl {
    font-size: 16px;
  }
  &:hover {
    color: clr(border);
  }
}




.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
  line-height: 0.5;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    height: 1px;
    background-color: clr(border);
    margin-bottom: -15px;
  }
  @include medium {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    p {
      line-height: 30px;
    }
    .authors_name {
      padding-right: 20px;
      border-right: 1px solid black;
      margin-right: 20px;
    }
  }
}

.authors_name > span > a {
  text-decoration: none;
  color: clr(text);

  &:hover {
    color: clr(text-inverse);
  }
}
