.text-with-media__inner {
  display: flex;
  flex-flow: row nowrap;
  gap: $space-one-half;

  [data-image-position='left'] & {
    flex-direction: row-reverse;
  }
}

.image-container {
  position: relative;
  width: 300px; /* Adjust width as needed */
  height: auto; /* Allow height to adjust based on content */
}

.image {
  width: 100%;
  height: auto; /* Allow image to adjust its height based on aspect ratio */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 10px;
  box-sizing: border-box;
}

.category-title {
  margin: 0;
  font-size: 18px;
  color: #fff;
}

.post-title {
  margin: 0;
  font-size: 16px;
  color: #fff;
}

.author {
  margin-top: 10px;
  display: flex;
}
.authors_name {
  padding-right: 20px;
  border-right: 1px solid black;
  margin-right: 20px;
}
//.authors_name {
//  margin-left: 10px;
//}

