.left-header-menu li {
  @include menu;
}
.left-header-menu a {
  @include menu;
}
.left-header-menu div {
  @include menu;
}
.left-header-menu {
  display: none;
  @include medium {
    display: flex;
  }
}

.button-primary  {
  @include primary;
}
.button-secondary {
  @include secondary;
}

.menu-icon {
  @include menu-icon;
}


.button_with_icon {
  display: flex;
  align-items: center;
  margin-right: 15px;
  &:hover {
    cursor: pointer;
  }
}
.menu-icon-search {
  stroke: black;
}
.menu-icon-burger {
  stroke: red;
}
.button_with_icon:hover .menu-icon-search{
  stroke: red;
}
.button_with_icon:hover .menu-icon-burger{
  stroke: darkred;
}


.menu-item {
  display: flex;
  align-items: center;
}

.left-header-menu .button:nth-child(1) {
  @include primary
}
.left-header-menu .button:nth-child(2) {
  @include secondary
}



