
<div class="left-header-menu">
  {% for item in left_header_menu_items %}
    {% set image = file_url(item.entity.fields.field_image.entity.fileuri) %}
    {% include "@atoms/header-buttons/header-button.twig" with {
      button__content: item.title,
      button__class: item.style,
      button__icon: item.entity.fields.field_menu_icon.value
    } %}
  {% endfor %}
</div>
