.footer {
  @include medium {
    margin-left: -200px;
    margin-right: -200px;
    margin-bottom: -90px;
    padding-right: 200px;
    padding-left: 200px;
  }
  background-color: #ededed;
  padding: 0 20px;
  @include large {
    font-size: 13px;
  }
  @include xl {
    font-size: 15px;
  }

  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    @include large {
      flex-direction: row;
    }
  }
}
.footer > * {
  margin-bottom: 30px;
}
.footer__social {
  margin-bottom: $space;

  @include large {
    flex: 0 1 30%;
    margin-bottom: 0;
    margin-right: $space;
  }
}

.footer__menu {
  @include large {
    flex: 1 1 100%;
    margin-left: auto;
    text-align: right;
  }
}
.footer_blocks {
  @include large {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

}
.footer__branding {
  max-width: 10rem;
}

.footer .toggle-expand {
  display: none;
}

.footer .main-nav {
  display: block;
  text-align: center;
  border: 0;
  position: relative;
}

.footer .main-menu__item {
  display: inline-block;
  border: none;
  &:hover {
    color: clr(text-inverse);
  }
}
.footer .menu_footer {
  &::after {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: black;
  }
  @include large {
    display: flex;
    justify-content: space-around;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 10px;
      right: 10px;
      height: 2px;
      background-color: black;
    }
  }
}
.footer .footer_blocks * {
  @include large {
    max-width: 350px;
  }

}
.footer .main-menu__link {
  position: relative;
  display: inline-block;
  padding: $space;
  width: auto;
  border-bottom: none;
  text-transform: none;
  color: clr(text);
  &:hover {
    color: clr(text-inverse);
  }
}
.footer .sign_in_button {
  display: none;
}

.footer .word_one {
  font-size: 42px !important;
  letter-spacing: -2px !important;
  color: black;
}
.footer .site_logo {
  justify-content: center;
}


.company_menu a{
 @include menu;
  display: block;
  color: clr(text);
  font-size: 15px;
  font-weight: 600;
  &:hover {
    color: clr(text-inverse);
  }
}
.company_menu {
  line-height: 2.5;
  margin-top: -22px;
}
#block-fausttheme-company {
  margin-top: -27px;
}

.footer .views-field .field-content a {
  text-decoration: none;
  color: clr(text);
  &:hover {
    color: clr(text-inverse);
  }
}
.footer .views-field-title {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
  text-decoration: none;
}
.footer .views-field-field-category {
    color: clr(text);
    font-size: 12px;
    font-weight: 600;
}
.footer .views-field-created {
    font-size: 12px;
    font-weight: 500;
}
.footer h2 {
  font-size: 1.8rem;
}
.footer .views-row {
  margin-bottom: 5px;
  line-height: 2.5;
  display: flex;
  flex-wrap: wrap;

  .views-field {
    display: inline-block;
  }

 .views-field-title {
  width: 100%;
}
 .views-field-field-category,
  .views-field-created {
   margin-right: 10px;
}

}
.copyright {
  text-align: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    height: 1px;
    background-color: lightgray;
  }
  @include large {
    font-size: 11px;
  }
  @include xl {
    font-size: 14px;
  }
}

.form-item {
  display: flex;
  font-size: 13px;
  font-weight: 500;
  .form-item__label a {
    text-decoration: none;
    color: red;
  }
}
.webform-button--submit {
  pointer-events: none;
  @include secondary-red;
  background-color: black;
  display: flex;
  width: 415px;
}
.webform-submission-form {
  display: flex;
  flex-direction: column;
}
.form-checkbox {
  margin-right: 5px;
}
.footer .social-menu{
  font-size: 15px;
  padding-top: 10px;
}
