.layout--onecol {
  margin-top: 40px;
}
.background-overlay-celebrity {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  z-index: -1;
  font-size: 90px;
  text-transform: uppercase;
  white-space: nowrap;
  color: clr(border);
  line-height: 1;
}
.celebrity-block {
  margin-top: 70px;
    h2 {
      text-align: center;
      font-family: $font-body;
      font-size: 32px;
      line-height: 1;
      font-weight: 700;
      letter-spacing: -1px;
  }
}
.celebrity-section {
 @include medium {
   display: flex;
   justify-content: space-between;
 }
  .politics-top {
    h4 {
      font-size: 24px;
    }
    @include medium {
      display: flex;
      align-items: center;
    }
    .author-with-title {
      padding-left: 20px;
      max-width: 357px;
    }
    .image {
      @include medium {
        max-height: 230px;
        max-width: 335px;
        object-fit: cover;

      }
    }
   @include medium {
     display: flex;
     align-items: center;
   }
    &::after {
      height: 0;
    }
  }
}
.celebrity-attach {
  @include medium {
    display: flex;
    align-items: center;
  }
  .politics-top {
    &::after {
      height: 0;
    }
    h4 {
      margin-bottom: 15px;
      font-size: 16px;
      min-height: auto;
    }
    .image {
      @include medium {
        max-height: 230px;
        max-width: 100%;
        object-fit: cover;
      }
    }
  }
}
