.layout-container {
  padding: 0 20px;
}
.main--with-sidebar {
  display: flex;
  flex-direction: column;
    p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
  }
    .image {
      margin: 20px 0;
    }
}
.main-content {
  flex: 1;
}
.quote h3{
    font-weight: 700;
    text-transform: none;
    letter-spacing: -0.5px;
    color: #ec3535;
    font-style: italic;
    padding: 10px;
    text-align: center;
}
.main-sidebar {
  order: 1;
}

@include medium {
  .main--with-sidebar {
    flex-direction: row;
  }
}
.article-tags {
  margin-top: 30px;
  display: flex;
  align-items: center;
  a {
    margin-left: 5px;
    text-decoration: none;
    color: clr(text);
    background-color: clr(background);
    padding: 2px;
    border: 1px solid clr(border);
    &:hover {
      background-color: clr(text);
      color: clr(background)
    }
  }
}
.article-tag-title {
  padding: 2px;
  background-color: clr(text);
  color: clr(background);
  &:hover {
    background-color: clr(background);
    color: clr(text);
  }
}
.entity-pager {
  position: relative;
  .entity-pager-list {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 5px;
      right: 5px;
      height: 1px;
      background-color: clr(border);
      margin-bottom: -15px;
    }
  }
}
.entity-pager-item {
  background: clr(border);
  padding: 4px;
}

.comment_form {
  float:left;
  border: 1px solid clr(border);
  input {
    width: 100%;
  }
}
.form_text_area {
  border: 1px solid clr(border);
}
.comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin: 30px 0;
  .button {
    background-color: clr(text-inverse);
  }
  h2 {
    font-size: 18px;
  }
}
.article-socials {
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.12);
  padding: 16px 0;
  margin: 10px 0;
  .social-menu {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
  }
}
.subscribe-form {
  .button {
    background-color: clr(text-inverse);
    margin-bottom: 10px;
  }
  h2 {
    font-size: 24px;
  }
  .form-text {
    border: 1px solid clr(border);
  }
}
.subscribe-form {
  margin: 30px 0;
}
.discover-more img {
  width: 100%;
}
