/*
 * General Layout
*/

$sidebar-width: 33%;
$gutter: $space;
$main-width: calc(100% - (#{$sidebar-width} + #{$gutter}));

/*
 * Layout Using Flexbox (IE11+).
 * Remove this and uncomment Grid code below to use CSS Grid.
*/
.layout--onecol {
  position: relative;
}
.layout__region--first {
  position: relative;
}
.main {
  @include large {
    display: flex;
  }
}
.layout-container {
  max-width: 1440px;
  margin: 0 auto;
}
.main-page-content {
  max-width: 1440px;
  margin: 0 auto;
}
.main-sidebar {
  margin-bottom: $space-double;
  padding-left: 20px;

  @include large {
    order: 2;
    width: 28%;
    margin-bottom: 0;
  }
}
.block-link-wrapper {
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-content {
  width: 100%;

  @include large {
    &--with-sidebar {
      margin-right: $gutter;
      width: $main-width;
    }
  }
}
.back-to-top {
  //display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: clr(text-inverse);
  color: clr(background);
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 40px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.back-to-top.show {
  opacity: 1;
}
.back-to-top i {
  font-size: 20px;
}
