.right-header-menu li {
  @include menu;
}
.right-header-menu a {
  @include menu;
}
.right-header-menu div {
  @include menu;
}
.right-header-menu {
  //font-family: Work Sans;
  display: none;
  @include medium {
    display: flex;
  }
}


.button-primary-no-hover  {
  @include primary-no-hover;
}
.button-secondary-red {
  @include secondary-red;
}
.menu-icon {
  @include menu-icon;
}

.search_button {
  display: inline-block;
  width: 20px;
  height: 20px;
  @include medium {
    display: none;
  }
}

.right-header-menu .button:nth-child(1) {
  @include primary-no-hover
}
.right-header-menu .button:nth-child(2) {
  @include secondary-red
}


.menu-icon-mobile {
  width: 25px;
  height: 25px;
  @include medium {
    display: none;
  }
}
