.recent-section {
  margin-right: 20px;
  .image-container {
    display: flex !important;
  }
}
.recent-posts-container {
  &:hover .article-title a {
    color: clr(text-inverse);
  }
  margin-bottom: 10px;
  @include medium {
    display: flex;
    align-items: center;
  }
  .image-wrapper {
    margin-right: 20px;
    margin-left: 10px;
  }
  .author-with-title {
    margin-left: 10px;
    margin-right: 10px;
    @include medium {
      margin-left: 0;
    }
  }
  h4 {
    font-size: 26px;
    @include medium {
      font-size: 20px;
    }
    @include large {
      font-size: 26px;
    }
  }
  .category-author {
    display: flex;
    align-items: center;
    .category {
      margin-right: 20px;
      a {
        font-size: 13px;
        color: clr(text);
        &:hover {
          color: clr(text-inverse);
        }
      }
    }
    .author-container {
      a {
        &:hover {
          color: clr(text-inverse);
        }
      }
      margin: 0;
    }
  }
}
.recent-attach {
  margin-bottom: 40px;
  .author-with-title {
    h4 {
      font-family: $font-body;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 600;
    }
  }
  @include medium {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  margin-left: 10px;
}
.layout--twocol-section {
  .recent-posts-block {
    margin-top: 20px;
   @include medium {
     h2 {
       text-align: center;
       margin-left: 320px;
     }
   }
  }
}

.background-overlay-recent {
  position: absolute;
  top: 30px;
  left: 65%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  z-index: -1;
  font-size: 90px;
  text-transform: uppercase;
  white-space: nowrap;
  color: clr(border);
  line-height: 1;
}
