<div class="social-media-block" {{ bem('block') }}>
  <h4>{% trans %}Join or social media{% endtrans %}</h4>
  <h3>{% trans %}For even more exclusive content!{% endtrans %}</h3>
  <div class="socials">
    <i class="menu-icon fab fa-facebook"></i>
    <i class="menu-icon fab fa-instagram"></i>
    <i class="menu-icon fab fa-x-twitter"></i>
  </div>
</div>
