<div class="weather-info">
  <p class="weather-item"><i class="fa-solid fa-temperature-half"></i>{{ temp }}&deg;</p>
  <p class="weather-item"><i class="fa-solid fa-wind"></i>{{ wind }} m/s</p>
</div>
