<div class="weather-info">
  <p class="weather-item"><img class="weather-icon" src="/modules/custom/weather_info/assets/svg/thermo.svg" alt="thermometer">{{ temp }}&deg;</p>
  <p class="weather-item"><img class="weather-icon" src="/modules/custom/weather_info/assets/svg/wind.svg" alt="wind">&nbsp;{{ wind }} m/s</p>
</div>
