/* Toggle */
.toggle-expand {
  @include link;
  position: absolute;
  pointer-events: none;
  display: inline-block;
  padding: $space;
  width: 100vw;
  text-decoration: none;

  /* See main-menu.js */
  &--open {
    background-color: clr(accent);
  }

  @include medium {
    display: none;
  }
}

.toggle-expand__text {
  display: block;
  font-size: 0.9rem;
  font-weight: bold;

  .toggle-expand--open & {
    color: clr(background);
  }
}

/* SVG icon */
.toggle-expand__icon {
  height: 25px;
  width: 25px;
  margin: 0 auto;

}

.toggle-expand__open {
  display: inline-block;
  float: right;
  text-align: center;
  position: absolute;
  left: 10px;
  pointer-events: initial;
  .toggle-expand--open & {
    display: none;
  }
  svg {
    fill: clr(text);
  }
}

.toggle-expand__close {
  display: none;
  float: right;
  text-align: center;
  position: absolute;
  right: 10px;




  .toggle-expand--open & {
    pointer-events: initial;
    display: inline-block;
  }

  svg {
    fill: clr(text-inverse);
  }
}

.sign_in_button {
  all: initial;
  color: clr(background);
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  @include medium {
    display: none;
  }
}
.sign_in_button span:hover {
  color:red;
}
.header_container {
  position: relative;
}
.header_navigation {
  position: relative;
}
