

{% set button__base_class = button__base_class|default('button') %}
{% set button__attributes = button__attributes|default([]) %}

{% set button__attributes = button__attributes|merge({
  'class': bem(button__base_class, button__modifiers, button__blockname, button__additional_classes),
}) %}

<button {{ add_attributes(button__attributes) }}>
  {% block button__content %}
    <div class="{{ button__class }}"> {{ button__content }}
      {% if image %}
        <img class="menu-icon" src="{{ button__icon }}" alt="&nbsp;">
      {% endif %}
    </div>
  {% endblock %}
</button>






