<div class="author-container">
    <div class="authors-image">
      {{ image|raw }}
    </div>
  <a href="{{ authors_page_link }}" class="authors-preview-name">{{ author_name }}</a>
  <span>&#x2500</span>
  <p class="authors-preview-date">{% trans %}Date: {{ date }}{% endtrans %}</p>
</div>
